*{
    margin: 0;
    padding: 0;
}
#menu{
    background: #ffffff ;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.3em 2em;
}
#bg{
    height: 90%;
    width: 100%;
    background-image: url(images/bg-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg_text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#title{
    color: #ffffff; 
    font-size: 70px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
    background-color: rgb(255, 226, 167);
}
#text_segment{
    padding: 5em 0em;
}
#user_form{
    padding: 5em 5em;
    background-color: white;
}

#recipe_form{
    padding: 2em 5em;
    background-color: white;
}

/* Alla oleva CSS osoitteesta https://codepen.io/sidbelbase/pen/RwGZRbL */

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 180%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: gold;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: gold;
}