{% extends "layout.html" %}
{% block title %} <title>Reseptisovellus</title> {% endblock %}
{% block content %}
<div class="ui vertical masthead center aligned segment">
  <div class="ui large secondary pointing menu" id="menu">
      <a class="ui item" href="/">
        Etusivu
      </a>
      <a class="ui item" href="/all-recipes/popularity">
        Kaikki reseptit
      </a>
      {% if session.username %}
      <a class="ui item" href="/new_recipe">
        Lisää uusi resepti
      </a>
      {% endif %}
      {% if session.username %}
      <a class="ui item" href="/favourites">
        Omat suosikit
      </a>
      {% endif %}
      <div class="right menu">
        {% if session.username %}
        <a class="ui item">
          <i class="user icon"></i>
          {{session.username}}
        </a>
        <a class="ui red button" href="/logout">
          Kirjaudu ulos
        </a>
        {% endif %}
        {% if not session.username %}
        <a class="ui item" href="/login">
          Kirjaudu sisään
        </a>
        <a class="ui item" href="/register">
          Rekisteröidy
        </a>
        {% endif %}
      </div>
  </div>
    <br>
    <br>
    <br>

    <div class="ui grid" id="user_form">
      <div class="four wide column" style="padding-left: 10em;">
        <div class="ui vertical text menu">
          <div class="header item">Järjestä</div>
          <a class="item" href="/all-recipes/popularity">
            Suosion mukaan
          </a>
          <a class="item" href="/all-recipes/alphabetically">
            Aakkosjärjestys
          </a>
          <a class="item" href="/all-recipes/newest">
            Uusin ensin
          </a>
          <a class="item" href="/all-recipes/oldest">
            Vanhin ensin
          </a>
          <a class="item" href="/all-recipes/fastest">
            Valmistusajan mukaan
          </a>
          <br>
          <div class="header item">Näytä</div>
          <a class="item" href="/all-recipes/maincourse">
            Pääruoat
          </a>
          <a class="item" href="/all-recipes/dessert">
            Jälkiruoat
          </a>
          <a class="item" href="/all-recipes/other">
            Muut
          </a>
        </div>
      </div>
      <div class="twelve wide column" style="padding-right: 10em;">
        <div class="ui text container">
          {% if recipes %}
            {% for recipe in recipes %}
            <div class="ui middle aligned divided list">
              <div class="item">
                <div class="right floated content">
                  {% if not check_like(recipe.id) %}
                  <form class="ui left labeled button" action="/like" method="POST">
                  {% else %}
                  <form class="ui left labeled button" action="/remove-like" method="POST">
                  {% endif %}
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                    <a class="ui basic right pointing label">
                      {{ recipe.likes }}
                    </a>
                    {% if loggedIn %}
                    <button class="ui button" type="submit">
                      {% if not check_like(recipe.id) %}
                      <i class="heart icon"></i>
                      {% else %}
                      <i class="red heart icon"></i>
                      {% endif %}
                    </button>
                    {% else %}
                    <button class="ui disabled button">
                      <i class="heart icon"></i>
                    </button>
                    {% endif %}
                  </form>
                  {% if loggedIn %}
                  {% if not check_favourite(recipe.id) %}
                  <form action="/favourite" method="POST" style="display: inline;">
                  <button class="ui icon button" type="submit">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                    <i class="star icon"></i>
                  </button>
                  </form>
                  {% else %}
                  <form action="/remove-favourite/1" method="POST" style="display: inline;">
                  <button class="ui icon button" type="submit">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                    <i class="yellow star icon"></i>
                  </button>
                  </form>
                  {% endif %}
                  {% endif %}
                </div>
                <div class="left floated content">
                  <i class="utensils icon"></i>
                  <a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_name }}</a>
                  ({{ recipe.prep_time }} min)
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}