{% extends "layout.html" %}
{% block title %} <title>Reseptisovellus</title> {% endblock %}
{% block content %}
<div class="ui vertical masthead center aligned segment" id="bg">

    <div class="ui large secondary pointing menu" id="menu">
      <a class="active item" href="/">
        Etusivu
      </a>
      <a class="ui item" href="/all-recipes/popularity">
        Kaikki reseptit
      </a>
      {% if session.username %}
      <a class="ui item" href="/new_recipe">
        Lisää uusi resepti
      </a>
      {% endif %}
      {% if session.username %}
      <a class="ui item" href="/favourites">
        Omat suosikit
      </a>
      {% endif %}
      <div class="right menu">
        {% if session.role == 2 %}
        <a class="ui item" href="/manage-all">
          Hallinnoi
        </a>
        {% endif %}
        {% if session.username %}
        <a class="ui item">
          <i class="user icon"></i>
          {{session.username}}
        </a>
        <a class="ui red button" href="/logout">
          Kirjaudu ulos
        </a>
        {% endif %}
        {% if not session.username %}
        <a class="ui item" href="/login">
          Kirjaudu sisään
        </a>
        <a class="ui item" href="/register">
          Rekisteröidy
        </a>
        {% endif %}
      </div>
    </div>

    <div class="ui text container" id="bg_text">
      <p>
      <p>
      <h1 class="ui header" id="title">
        RESEPTISOVELLUS
      </h1>
      <form action="/" method="POST">
        <div class="ui icon input">
          <input type="text" name="key" placeholder="Reseptin nimi tai tekijä">
          <i class="search icon"></i>
        </div>
      </form>
      
    </div>

</div>
{% endblock %}