{% extends "layout.html" %}
{% block title %} <title>Reseptisovellus</title> {% endblock %}
{% block content %}
<div class="ui vertical masthead center aligned segment" id="bg">

    <div class="ui large secondary pointing menu" id="menu">
      <a class="active item" href="/">
        Etusivu
      </a>
      {% if session.username %}
      <a class="ui item" href="/new_recipe">
        Lisää uusi resepti
      </a>
      {% endif %}
      <div class="right menu">
        {% if session.username %}
        <a class="ui item">
          <i class="user icon"></i>
          {{session.username}}
        </a>
        <a class="ui red button" href="/logout">
          Kirjaudu ulos
        </a>
        {% endif %}
        {% if not session.username %}
        <a class="ui item" href="/login">
          Kirjaudu sisään
        </a>
        <a class="ui item" href="/register">
          Rekisteröidy
        </a>
        {% endif %}
      </div>
    </div>

    <div class="ui text container" id="bg_text">
      <p>
      <p>
      <h1 class="ui header" id="title">
        RESEPTISOVELLUS
      </h1>
      <form action="/" method="POST">
        <div class="ui icon input">
          <input type="text" name="key" placeholder="Reseptin nimi">
          <i class="search icon"></i>
        </div>
      </form>
      
    </div>

</div>

<!--<div class="ui vertical stripe segment" id="text_segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header"> <i class="utensils icon"></i>Etsi ja löydä reseptejä</h2>
          <p>Voit hakea reseptejä esimerkiksi reseptin nimen tai ainesosan perusteella!</p>
          <h2 class="ui header"><i class="utensil spoon icon"></i>Lisää reseptejä</h2>
          <p>Rekisteröidy ja kirjaudu sisään, jotta voit lisätä reseptejä!</p>
          <h2 class="ui header"><i class="heart icon"></i>Ja paljon muuta!</h2>
          <p>Kirjautuneena käyttäjänä pystyt lisäämään reseptejä suosikkeihisi, jotta löydät ne helposti myöhemmin! Lisäksi voit kommentoida muiden käyttäjien reseptejä ja antaa niille arvostelun!</p>
        </div>
        <div class="six wide right floated column">
        </div>
      </div>
    </div>
  </div>-->
{% endblock %}